<html>
	<head>
		<title>gimme that blog</title>
	</head>
	<body>
		<form method="post" action="/blog/new">
			<input type="text" name="title" placeholder="title"/><br/>
			<textarea name="body" placeholder="body"></textarea><br/>
			<button type="submit">save</button>
		</form>
	</body>
</html>