<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
  		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<title>Jesse Keane is Me and I am him.</title>

		<!-- Webfonts -->
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:800' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Gentium+Book+Basic:400,400italic,700,700italic' rel='stylesheet' type='text/css'>

		<link rel="stylesheet" href="/css/main.css" type="text/css">
		<link rel="stylesheet" href="/css/media.css" type="text/css">

		<!-- Plugin stylesheets -->
		<link rel="stylesheet" href="/css/font-awesome.css" type="text/css">

		<link rel="shortcut icon" href="/favicon.ico">
	</head>
	<body>
		<section id="header_menu">
			<ul>
				<li><a href="#blog">Blog</a></li>
				<li><a href="#projects">Projects</a></li>
				<li><a href="#about">About Me</a></li>
				<li><a href="#contact">Contact Me</a></li>
			</ul>
			<ol>
				<li><a href="http://www.linkedin.com/in/jarofghosts"><i class="icon-linkedin"></i></a></li>
				<li><a href="https://plus.google.com/102866448651141599911/posts"><i class="icon-google-plus"></i></a></li>
				<li><a href="https://twitter.com/jarofghosts"><i class="icon-twitter"></i></a></li>
				<li><a href="https://github.com/jarofghosts"><i class="icon-github"></i></a></li>
			</ol>
		</section>
		<section id="blog">
			<header>
				<h1>Jesse Keane . Me</h1>
			</header>
			<div class="words">
				<a href="/b/<%= @entry.slug %>"><h1><%= @entry.title %></h1></a>
				<%= markdown(@entry.body) %>
			</section>
		</section>
		<section id="fun_stuff">
			<header>
				<div id="left-button">
					<a href="#previous" id="previous-button" class="navigation-button">Contact Me <i class="icon-comments"></i></a>
				</div>
				<div id="right-button">
					<a href="#next" id="next-button" class="navigation-button">About Me <i class="icon-info-sign"></i></a>
				</div>
				<div style="clear:both"></div>
			</header>

			<div id="projects" class="subpage current-page">
				<h1>Projects <i class="icon-cogs"></i></h1>
				<div class="projects">
					<ul>
						<li><a href="https://github.com/jarofghosts/sailor">granary.php</a></li>
							<p>Distributed forums with centralized tendencies. Written on top of the <a href="http://laravel.com/">Laravel PHP framework</a>.</p>
						<li><a href="https://github.com/jarofghosts/bogman">bogman.rb</a></li>
						<p>A public API for an immutable key-value store. Also an ongoing saga about magic dolphins.</p>
						<li><a href="https://github.com/jarofghosts/jk.me">jk.me</a></li>
						<p>Personal site and blog in HTML5 and CSS3 with <a href="http://www.sinatrarb.com/">Sinatra</a> backend.</p>
						<li><a href="https://github.com/jarofghosts/burner">burner.php</a></li>
						<p>Self-destructive messages. Perfect for secret agents or coupon codes.</p>
						<li>mops.rb</li>
						<p>Putting willing strangers in touch on the Internet one <code>.rand()</code> at a time. <a href="http://www.sinatrarb.com/">Sinatra</a></p>
					</ul>
				</div>
			</div>

			<div id="about" class="subpage">
				<h1>About Me <i class="icon-info-sign"></i></h1>
				<img src="/img/me.jpg" alt="This is me."/>
				<p>Jesse is a guy living in Portland, Oregon&mdash; though he was born in Illinois. Yet the mystery doesn't stop there. He also writes a lot of web apps, including some currently in development for his new job at <a href="http://www.solomonexamprep.com">Solomon Exam Prep</a>. Jesse also enjoys cats, coffee, and listening to music that most everyone else on Earth hates. You should really hit him up so that he doesn't end up sitting alone at his computer watching reruns of NBC's The Voice.</p>
			</div>

			<div id="contact" class="subpage">
				<h1>Contact Me <i class="icon-comments"></i></h1>
				<form method="post" action="contact/send" id="contact-form">
				<label for="contact_name">Name</label><br/>
				<input type="text" name="contact_name" id="contact_name" placeholder="Try to put a name here."/><br/>
				<label for="contact_info">Respond To</label><br/>
				<input type="email" name="contact_info" id="contact_info" placeholder="@coolguy1975? budthechud@yahoo.com?"/><br/>
				<label for="contact_message">Message</label><br/>
				<textarea name="contact_message" placeholder="Put some words here." id="contact_message"></textarea><br/>
				<button type="submit" class="form-button">Send It</button><br/>
					<div id="jMeow"></div>
				</form>
			</div>

			<footer>
				<ol>
					<li><a href="https://github.com/jarofghosts"><i class="icon-github"></i></a></li>
					<li><a href="https://twitter.com/jarofghosts"><i class="icon-twitter"></i></a></li>
					<li><a href="https://plus.google.com/102866448651141599911/posts"><i class="icon-google-plus"></i></a></li>
					<li><a href="http://www.linkedin.com/in/jarofghosts"><i class="icon-linkedin"></i></a></li>
				</ol>
			</footer>
	</section>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
		<script src="/js/main.js"></script>
	</body>
</html>