<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
  		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<title>Jesse Keane is Me and I am him.</title>

		<!-- Webfonts -->
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:800' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Gentium+Book+Basic:400,400italic,700,700italic' rel='stylesheet' type='text/css'>

		<link rel="stylesheet" href="/css/main.css" type="text/css">
		<link rel="stylesheet" href="/css/media.css" type="text/css">

		<!-- Plugin stylesheets -->
		<link rel="stylesheet" href="/css/font-awesome.css" type="text/css">

		<link rel="shortcut icon" href="/favicon.ico">
	</head>
	<body>
		<section id="header_menu">
			<ul>
				<li><a href="#blog">Blog</a></li>
				<li><a href="#projects">Projects</a></li>
				<li><a href="#contact">Contact Me</a></li>
				<li><a href="#about">About Me</a></li>
			</ul>
			<ol>
				<li><a href="http://www.linkedin.com/in/jarofghosts"><i class="icon-linkedin"></i></a></li>
				<li><a href="https://plus.google.com/102866448651141599911/posts"><i class="icon-google-plus"></i></a></li>
				<li><a href="https://twitter.com/jarofghosts"><i class="icon-twitter"></i></a></li>
				<li><a href="https://github.com/jarofghosts"><i class="icon-github"></i></a></li>
			</ol>
		</section>
		<section id="blog">
			<header>
				<h1>Jesse Keane . Me</h1>
			</header>
			<div class="words">
				<h1>What's Going On</h1>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean dapibus scelerisque dui, nec mattis metus vehicula ut. In eros mauris, feugiat ac dapibus in, accumsan in urna. Duis volutpat, <a href="#">lectus eu fermentum egestas</a>, diam urna condimentum nisl, eget iaculis elit dolor ut risus. Aliquam nec risus eu nulla molestie adipiscing. In hac habitasse platea dictumst. Donec ac quam massa. Phasellus euismod eros ut libero euismod vel iaculis sapien rhoncus. Vivamus quis urna id massa accumsan porta nec at purus. Nulla vulputate, urna at congue volutpat, quam ante tincidunt libero, sit amet dapibus elit risus non risus. Integer ut lorem ac velit aliquet tempor. Fusce eget sapien non massa euismod porta. Morbi sed mi arcu, eu pellentesque dui. In vitae sapien at turpis rutrum laoreet.</p>

	<p>Aliquam condimentum, odio nec condimentum molestie, lorem dolor mattis sem, at fringilla tortor orci sed nunc. Donec ipsum erat, porta sed tempor eget, blandit vel justo. Suspendisse suscipit aliquet est, nec vehicula justo pretium quis. Aliquam eu mauris mi, malesuada fringilla odio. <a href="http://www.britneyspears.com">Aenean vel mollis orci</a>. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nam ultrices luctus pretium. Nam luctus ante nec lorem gravida congue. Mauris eget consectetur augue. Aliquam quam felis, ultrices at pharetra in, euismod sit amet risus. Donec vestibulum lorem ut <a href="#">justo</a> malesuada porta. Nulla eget felis sit amet metus convallis tincidunt sed vel sapien. Ut dapibus ultrices leo, in sagittis nunc tincidunt at.</p>

	<p>Integer orci magna, convallis non bibendum ac, placerat id urna. Aliquam pretium tempor libero ut adipiscing. Praesent erat lacus, vestibulum sed convallis vitae, accumsan vitae ante. Pellentesque gravida varius est quis condimentum. Aliquam sit amet condimentum nisl. Aliquam ullamcorper feugiat orci <a href="http://google.com">tempor</a> pellentesque. Quisque urna neque, molestie at convallis ut, tempor in lectus. Ut ut diam sit amet nunc convallis porttitor. Etiam vel egestas nulla. Donec volutpat sagittis tincidunt. Suspendisse rhoncus, leo tristique faucibus imperdiet, sapien libero vulputate felis, a fringilla lectus augue in sem. Aliquam a enim risus.</p>

	<p>Vivamus at arcu id massa faucibus blandit. Vivamus enim massa, scelerisque non scelerisque a, bibendum quis sapien. Praesent et dui nibh, non congue nulla. Integer in lorem tortor, id molestie dui. Nulla auctor tincidunt nunc dictum porta. Donec eget arcu ut metus volutpat mollis et quis eros. Suspendisse quis neque orci. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Mauris mattis <a href="#">semper nulla id pulvinar</a>. Proin varius libero pulvinar neque dapibus luctus. Curabitur aliquet tincidunt lacus a fermentum. Suspendisse et nunc turpis, mattis sodales elit. Vestibulum vestibulum quam et felis tempor non lobortis nulla dignissim. Sed arcu leo, blandit at sollicitudin eu, feugiat eu erat.</p>

	<p>Nunc purus tortor, lobortis a lobortis vel, dapibus nec nisi. Ut porta tempor velit non interdum. Ut vulputate tempor sagittis. Nunc sed orci non eros convallis sagittis. Curabitur commodo, quam ut blandit vestibulum, magna tortor cursus diam, quis sollicitudin leo tortor a leo. Ut sollicitudin iaculis quam, at aliquet diam viverra at. Ut neque metus, tristique sed viverra non, condimentum a tellus.</p>
			</section>
		</section>
		<section id="fun_stuff">
			<header></header>

			<div id="projects" class="subpage">
				<h1>Projects <i class="icon-cogs"></i></h1>
				<div class="projects">
					<ul>
						<li><a href="https://github.com/jarofghosts/sailor">granary.php</a></li>
							<p>Distributed forums with centralized tendencies. Also has smilies and other goodies. Written on top of the <a href="http://laravel.com/">Laravel PHP framework</a>.</p>
						<li><a href="https://github.com/jarofghosts/bogman">bogman.rb</a></li>
						<p>A public API for an immutable key-value store. Also an ongoing saga about magic dolphins. Uses <a href="http://www.sinatrarb.com/">Sinatra for Ruby</a> and Markdown.</p>
						<li><a href="https://github.com/jarofghosts/jk.me">jk.me</a></li>
						<p>Personal site and blog in HTML5 and CSS3. Backend messaging and blog system produced with <a href="http://www.sinatrarb.com/">Sinatra</a>.</p>
						<li>mops.rb</li>
						<p>Putting willing strangers in touch on the Internet one <code>.rand()</code> at a time. <a href="http://www.sinatrarb.com/">Sinatra</a></p>
					</ul>
				</div>
			</div>

			<div id="contact" class="subpage">
				<h1>Contact Me <i class="icon-comments"></i></h1>
				<form method="post" action="contact/send" id="contact-form">
				<label for="contact_name">Name</label><br/>
				<input type="text" name="contact_name" id="contact_name" placeholder="Try to put a name here."/><br/>
				<label for="contact_info">Respond To</label><br/>
				<input type="email" name="contact_info" id="contact_info" placeholder="Twitter? Email? Morse code?"/><br/>
				<label for="contact_message">Message</label><br/>
				<textarea name="contact_message" placeholder="Put some words here." id="contact_message"></textarea><br/>
				<button type="submit" class="form-button">Send It</button><br/>
					<div id="jMeow"></div>
				</form>
			</div>

			<div id="about" class="subpage">
				<h1>About Me </h1>
			</div>

			<footer>
				<ol>
					<li><a href="https://github.com/jarofghosts"><i class="icon-github"></i></a></li>
					<li><a href="https://twitter.com/jarofghosts"><i class="icon-twitter"></i></a></li>
					<li><a href="https://plus.google.com/102866448651141599911/posts"><i class="icon-google-plus"></i></a></li>
					<li><a href="http://www.linkedin.com/in/jarofghosts"><i class="icon-linkedin"></i></a></li>
				</ol>
			</footer>
	</section>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
		<script src="/js/main.js"></script>
	</body>
</html>