::selection {
	background: #d33682;
	}
::-moz-selection {
	background: #d33682;
}


* {
	margin: 0;
	padding: 0;
}

body {
	background: #fdf6e3;
	font: 400 32px/32px "gentium book basic";
}

a {
	color: #b58900;
	text-decoration: none;
	border-bottom: 1px solid #b58900;
}

a:visited {
	border-bottom: 1px solid #073642;
}

a:hover {
	background: 1px 1px 1px #eee8d5;
}

a:active {
	background: #d33682;
	color: #222;
}

section {
	border-left: 10px solid #002b36;
	border-right: 10px solid #002b36;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	background: #073642;
	height: 100%;
	width: 60%;
}

ul {
	list-style: none;
	margin: 100px;
}

li {
	padding-top: 25px;
}
header {
	z-index: 2;
	position: relative;
	width: 100%;
	color: #fdf6e3;
	text-align: center;
	font: 800 64px/64px "open sans";
}

@media only screen
and (max-width : 900px) {
	header {
		font: 800 48px/48px "open sans";
	}
	section ul li a {
		font-size: 20px;
	}
}

@media only screen
and (max-width : 650px) {
	header {
		font: 800 32px/32px "open sans";
	}
}