::selection {
	background: #d33682;
	}
::-moz-selection {
	background: #d33682;
}

* {
	margin: 0;
	padding: 0;
}

section {
	position: fixed;
	top: -50px;
	left: -50px;
}

section ul li {
	list-style: none;
}

section ul li a {
	border-bottom: 0px;
	font-size: 32px;
}

body {
	line-height: 1;
	background: #073642;
	font: 400 18px/18px "gentium book basic";
}

a {
	color: #b58900;
	text-decoration: none;
	border-bottom: 1px solid #b58900;
}

a:visited {
	border-bottom: 1px solid #fdf6e3;
}

a:hover {
	background: 1px 1px 1px #eee8d5;
}

a:active {
	background: #d33682;
	color: #222;
}

p {
	padding: 5px;
	padding-top: 10px;
}

footer {
	position: fixed;
	bottom: 50;
	right: 50;
	color: #fdf6e3;
}

footer ol {
	list-style: none;
}

footer ol li {
	display: inline-block;
	padding: 10px;
}

footer ol li a {
	border-bottom: none;
	font-size: 40px;
	text-shadow: -3px 3px 0px #002b36;
	color: #fdf6e3;
}

article {
	border-left: 10px solid #002b36;
	border-right: 10px solid #002b36;
	border-bottom: 10px solid #002b36;
	background: #fdf6e3;
	position: relative;
	color: #073642;
	margin-left: auto;
	margin-right: auto;
	margin-top: -1px;
	padding: 10px;
	padding-top: 25px;
	min-height: 80%;
	width: 60%;
	padding-bottom: 50px;
}

#previous-arrow {
	left: -55px;
}

.directions {
	text-shadow: -5px 5px 0px #002b36;
	top: 100px;
	color: #b58900;
	font-size: 80px;
	position: absolute;
	width: 250px;
}

.directions a {
	text-decoration: none;
	border-bottom: none;
}

.directions a:active {
	color: #b58900;
	background: none;
	text-shadow: none;
}

#next-arrow {
	right: -250px;
}

ul {
	list-style: none;
	margin: 100px;
}

li {
	padding-top: 25px;
}
header {
	z-index: 2;
	position: relative;
	width: 100%;
	text-shadow: -3px 3px 0px #002b36;
	color: #fdf6e3;
	text-align: center;
	font: 800 64px/64px "open sans";
}