::selection {
	background: #d33682;
	}
::-moz-selection {
	background: #d33682;
}

* {
	margin: 0;
	padding: 0;
}

body {
	background: #073642;
	font: 400 18px/18px "gentium book basic";
}

a {
	color: #b58900;
	text-decoration: none;
	border-bottom: 1px solid #b58900;
}

a:visited {
	border-bottom: 1px solid #073642;
}

a:hover {
	background: 1px 1px 1px #eee8d5;
}

a:active {
	background: #d33682;
	color: #222;
}

p {
	padding: 5px;
	padding-top: 10px;
}

section {
	border-left: 10px solid #002b36;
	border-right: 10px solid #002b36;
	background: #fdf6e3;
	color: #073642;
	margin-left: auto;
	margin-right: auto;
	margin-top: -1px;
	padding: 10px;
	padding-top: 25px;
	height: 100%;
	width: 30%;
}

ul {
	list-style: none;
	margin: 100px;
}

li {
	padding-top: 25px;
}
header {
	z-index: 2;
	position: relative;
	width: 100%;
	text-shadow: -3px 3px 0px #002b36;
	color: #fdf6e3;
	text-align: center;
	font: 800 64px/64px "open sans";
}