/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
/* Styles */

}

/* Smartphones (landscape) ----------- */
@media only screen
and (min-width : 321px) {
/* Styles */

}

/* Smartphones (portrait) ----------- */
@media only screen
and (max-width : 320px) {
/* Styles */

}

/* iPads (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px) {
/* Styles */

}

/* iPads (landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape) {
/* Styles */

}

/* iPads (portrait) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {
/* Styles */

}

/* Desktops and laptops ----------- */
@media only screen
and (max-width : 1675px) {
	footer ol li {
		display: block;
	}
}

@media only screen
and (max-width : 1400px) {
/* Styles */
	section {
		top: -100px;
		left: -75px;
	}
	section ul li {
		display: inline-block;
		margin-right: 5%;
	}
	header {
		position: fixed;
		right: 0;
		top: 0;
		width: auto;
		margin-right: 5%;
	}
	article {
		min-height: 50%;
		min-width: 300px;
		position: relative;
		margin: auto auto;
		margin-top: 100px;
	}

}
@media only screen
and (max-width: 900px) {

}

@media only screen
and (max-width: 800px) {
	section ul li a {
		font-size: 20px;
	}
	header {
		font-size: 30px;
	}
	footer ol {
		margin-right: -35px;
	}
}

@media only screen
and (max-width: 500px) {
	footer ol li a {
		font-size: 25px;
	}
	footer ol {
		margin-top: 25px;
	}
}

/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */

}