::selection {
	background: #d33682;
	}
::-moz-selection {
	background: #d33682;
}

a {
	text-decoration: none;
}

* {
	margin: 0;
	padding: 0;
	line-height: 1;
}
body {
	background: #fdf6e3;
}
h1 {
	color: #002b36;
	margin: 20px 0px 32px 0px;
	font: 800 48px/48px "open sans";
	text-transform: uppercase;
	text-align: center;
}
header {
	text-align: center;
	border-bottom: 2px solid #002b36;
}
header h1 {
	font: 800 64px/64px "open sans";
	margin: 20px 0px 32px 0px;
}
h1 span {
	font: 400 60px/60px "gentium book basic";
	font-style: italic;
	text-transform: none;
}

p {
	color: #002b36;
	font: 400 16px/24px "gentium book basic";
	padding: 10px 32px 10px 32px;
	display: block;
}

p a {
	color: #b58900;
	text-decoration: none;
	border-bottom: 1px solid #b58900;
}

p a:visited {
	border-bottom: 1px solid #fdf6e3;
}

p a:hover {
	background: 1px 1px 1px #eee8d5;
}

p a:active {
	background: #d33682;
	color: #222;
}

#blog {
	position: relative;
	width: 50%;
}

#fun_stuff {
	position: fixed;
	top: 0;
	right: 0;
	width: 50%;
	height: 100%;
	background: #073642;
	border-left: 10px solid #002b36;
}

#header_menu {
	z-index: 2;
	display: none;
	text-align: center;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 65px;
	background: #073642;
	border-bottom: 5px solid #002b36;
}

#header_menu ul {
	margin-top: 13px;
	margin-left: 30px;
}

#header_menu ol {
	margin-top: 13px;
	margin-right: 30px;
}

#header_menu ol li {
	list-style: none;
	float: right;
	margin-right: 25px;
}

#header_menu ul li {
	list-style: none;
	float: left;
	margin-left: 25px;
}


#header_menu ol li a {
	font-size: 40px;
	text-decoration: none;
	text-shadow: -2px 2px 0px #002b36;
	color: #eee8d5;
}

#header_menu ul li:first-child {
	margin-left: 0px;
}

#header_menu ul li a {
	display: inline-block;
	background-color: #eee8d5;
	box-shadow: -3px 3px 0px 0px #b58900;
	padding: 10px;
	color: #b58900;
	text-decoration: none;
	font: 800 20px/20px "open sans";
}

#header_menu ul li a:hover {
	background-color: #fdf6e3;
}

#header_menu ol li a:hover {
	color: #fdf6e3;
}
#jMeow {
	color: #859900;
	opacity: 0;
	font: 400 48px/48px "gentium book basic";
	margin-top: 20px;
	font-style: italic;
	text-transform: none;
}

footer {
	width: 50%;
	position: fixed;
	height: 60px;
	bottom: 0;
	right: 0;
	text-align: center;
}

footer ol li {
	list-style: none;
	margin-left: 10%;
	display: inline-block;
}

footer ol li:first-child {
	margin: 0px;
}

footer ol li a {
	font-size: 40px;
	text-decoration: none;
	text-shadow: -2px 2px 0px #002b36;
	color: #eee8d5;
}

.subpage {
	text-align: center;
	margin-top: -60px;
	width: 100%;
	height: 100%;
	color: #fdf6e3;
}

.subpage h1 {
	color: #fdf6e3;
}

#fun_stuff header {
	border: 0px;
	margin-top: 30px;
}

#fun_stuff header a {
	display: inline-block;
	background-color: #eee8d5;
	box-shadow: -3px 3px 0px 0px #002b36;
	padding: 10px;
	color: #073642;
	text-decoration: none;
	font: 800 20px/20px "open sans";
}

#fun_stuff header a:hover {
	background-color: #fdf6e3;
}

#left-button {
	float: left;
	margin-left: 5%;
}

#right-button {
	float: right;
	margin-right: 5%;
}

#contact-form {
	margin: auto auto;
}

label {
	display: inline-block;
	font: 800 20px/20px "open sans";
	margin: 15px 0px 15px 0px;
}

input[type=text] {
	font: 400 16px/24px "gentium book basic";
	background: #fdf6e3;
	width: 75%;
	padding: 10px;
	border: 0px;
	box-shadow: -3px 3px 0px 0px #002b36;
}

input[type=email] {
	font: 400 16px/24px "gentium book basic";
	background: #fdf6e3;
	width: 75%;
	padding: 10px;
	border: 0px;
	box-shadow: -3px 3px 0px 0px #002b36;
}

textarea {
	font: 400 16px/24px "gentium book basic";
	background: #fdf6e3;
	width: 75%;
	height: 100%;
	padding: 10px;
	box-shadow: -3px 3px 0px 0px #002b36;
}

.form-button {
	display: inline-block;
	background-color: #eee8d5;
	box-shadow: -3px 3px 0px 0px #002b36;
	padding: 10px;
	color: #073642;
	border: 0px;
	margin-top: 20px;
	text-decoration: none;
	font: 800 20px/20px "open sans";
}

.form-button:hover {
	cursor: pointer;
	cursor: hand; /* http://www.iestolemylife.com/ */
	background-color: #fdf6e3;
}

.form-button:active {
	margin-right: 2px;
	margin-top: 22px;
	box-shadow: -1px 1px 0px 0px #002b36;
}

.subpage a {
	color: #002b36;
	text-decoration: none;
	border-bottom: 1px solid #002b36;
}

.subpage a:visited {
	border-bottom: 1px solid #073642;
}

.subpage a:hover {
	background: 1px 1px 1px #002b36;
}

.subpage a:active {
	background: #d33682;
	color: #222;
}
.subpage img {
	max-width: 50%;
	max-height: 50%;
	border-radius: 10px;
	box-shadow: 0 8px 9px -6px #222;
}
.projects {
	text-align: left;
	margin-left: 30px;
	margin-right: 30px;
}

.projects p {
	background-color: #fdf6e3;
	position: relative;
	display: block;
	width: 75%;
	margin: 15px;
}

.subpage p {
	box-shadow: -3px 3px 0px 0px #002b36;
}

#about p {
	padding: 20px;
	background-color: #fdf6e3;
	position: relative;
	display: block;
	width: 70%;
	margin: auto;
	margin-top: 48px;
}

.projects ul li {
	font-size: 24px;
	list-style: none;
	width: 85%;
	border-bottom: 1px dashed #dc322f;
	display: block;
	padding: 5px;
}

.projects ul li a {
	color: #fdf6e3;
}

#contact {
	display: none;
}
#about {
	display: none;
}
#projects {
	
}