/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
/* Styles */

}

/* Smartphones (landscape) ----------- */
@media only screen
and (min-width : 321px) {
/* Styles */

}

/* Smartphones (portrait) ----------- */
@media only screen
and (max-width : 320px) {
/* Styles */

}

/* iPads (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px) {
/* Styles */

}

/* iPads (landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape) {
/* Styles */

}

/* iPads (portrait) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {
/* Styles */

}

/* Desktops and laptops ----------- */
@media only screen
and (max-height : 800px) {
	#fun_stuff header {
		display: none;
	}
	#header_menu {
		display: block;
	}
	footer {
		display: none;
	}
	.subpage {
		clear: both;
		margin-top: 0px;
	}
	#fun_stuff {
		position: relative;
		width: 100%;
		height: auto;
		background: none;
		border: 0px;
	}

	#projects {
		display: block;
		background: #073642;
		border-bottom: 5px solid #002b36;
		border-top: 5px solid #002b36;
	}

	#about h1 {
		color: #073642;
	}

	#about p {
		background: #073642;
		color: #fdf6e3;
	}

	#about p a {
		color: #fdf6a3;
	}

	#about {
		display: block;
		background: #fdf6e3;
	}

	#contact {
		display: block;
		background: #073642;
		border-bottom: 5px solid #002b36;
		border-top: 5px solid #002b36;
	}

	#blog {
		background: #fdf6e3;
		width: 100%;
		padding-bottom: 50px;
		margin-top: 95px;
	}
	.subpage {
		padding-top: 50px;
		padding-bottom: 50px;
		opacity: 1;
	}
}

@media only screen
and (max-width : 1400px) {
/* Styles */
	#header_menu {
		display: block;
	}
	#fun_stuff header {
		display: none;
	}
	footer {
		display: none;
	}
	.subpage {
		clear: both;
		margin-top: 0px;
	}
	#fun_stuff {
		position: relative;
		width: 100%;
		height: auto;
		border-left: none;
		border-bottom: 5px solid #002b36;
		border-top: 5px solid #002b36;
	}

	#projects {
		display: block;
		background: #073642;
	}

	#about h1 {
		color: #073642;
	}

	#about p {
		background: #073642;
		color: #fdf6e3;
	}

	#about p a {
		color: #fdf6a3;
	}

	#about {
		display: block;
		background: #fdf6e3;
	}

	#contact {
		display: block;
		background: #073642;
	}

	#blog {
		background: #fdf6e3;
		width: 100%;
		padding-bottom: 50px;
		margin-top: 95px;
	}
	.subpage {
		padding-top: 50px;
		opacity: 1;
		padding-bottom: 50px;
	}

}
@media only screen
and (max-width: 900px) {
	#header_menu ol {
		margin-top: 20px;
	}
	#header_menu ol li a {
		font-size: 25px;
	}
}

@media only screen
and (max-width: 800px) {
	#header_menu ol {
		display: none;
	}
	#header_menu ul {
		margin-left: 0px;
		padding-left: 0px;
		margin-right: 0px;
	}
	#header_menu ul li {
		display: inline-block;
		float: none;
		margin-left: 10px;
	}
}

@media only screen
and (max-width: 500px) {
	#header_menu ul li a {
		font-size: 10px;
	}
	header h1 {
		font-size: 48px;
	}
	h1 {
		font-size: 32px;
	}
}

/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */

}